{# Sample table page. #}

{% block head_title %}Samples for order '{{ order['title'] }}'{% end %}
{% block body_title %}Samples for order: {{ order['title'] }}{% end %}

{% extends "base.html" %}

{% block header_css %}
<link rel="stylesheet" href="{{ static_url('nsc_style.css') }}">
{% end %}

{% block body_header_meta %}
<a href="{{ reverse_url('order_api', order['_id']) }}">
  {% module Icon('json') %} JSON
</a>
{% end %}

{% block meta_content %}
<form action="{{ reverse_url('order', order['_id']) }}"
role="form"	method="GET">
  <input type="hidden" name="_http_method" value="delete">
  <button type="submit" class="btn btn-primary btn-block">
    Back to order
  </button>
</form>


{% end %} {# block meta_content #}

{% block main_content %}
<div class="panel panel-default">
  <div class="panel-body">
  To enter sample information, either enter the samples one by one below, or
  use the following procedure:
    <ul>
    <li>Download the
    <a href="https://portal.sequencing.uio.no/file/Sample%20table/download">sample table template (Excel format)</a>
    or <a href="https://portal.sequencing.uio.no/file/Sample%20table%20%28CSV%29/download">sample table template (CSV format)</a>.
    </li>
    <li>Fill in information about your samples and save it</li>
    <li>Upload it in the form below</li>
    <li>Verify the output and click Save on the right</li>
  </ul>

  <form action="{{ reverse_url('nsc_order_samples', order['_id']) }}"
        role="form"
        enctype="multipart/form-data"
        method="POST">
    {% module xsrf_form_html() %}
    <label for="excel-file">Sample table (Excel format)</label>
    <div style="clear: both;"></div>
    <div class="form-group upload-box">
      <input type="file" name="excel-file" class="form-control">
      <label for="excel-file">(Or) sample table (CSV format)</label>
      <input type="file" name="csv-file" class="form-control">
    </div>

    <div class="form-group upload-btn-box">
      <label class="control-label"></label>
      <button type="submit" class="btn btn-success" name="upload" value="upload">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Upload
      </button>
    </div>
  </form>
  <div style="clear: both;"></div>

  {% if messages %}
  <h3>Errors</h3>
  <p>Please correct the following problems:</p>
  <ul>
    {% for message in messages %}
    <li class="form-error">{{ message }}</li>
    {% end %}
  </ul>
  {% end %}{# if messages #}

  <h3>Sample information ({{ len(table) }} sample{{ '' if len(table) == 1 else 's'}})</h3>
  <form action="{{ reverse_url('nsc_order_samples', order['_id']) }}"
        fole="form"
        method="POST">
  <div class="the-grid">
  {% module xsrf_form_html() %}

  <table class="sample-list">
    <tr>
    <th></th>
      {% for col in columns %}
      <th>
        {{ col.label }}
      </th>
      {% end %}
    </tr>
    {% for i_row, row in enumerate(table) %}
    <tr>
    <td>
        <button type="submit" class="btn btn-warning btn-xs"
		name="remove-sample-{{ i_row }}" value="remove-sample">
          <span class="glyphicon glyphicon-trash"></span>
          </button>
    </td>
      {% for cell in row %}
      <td {{ 'class="validation-error"' if not cell.valid else '' }}>
        {% if not cell.valid %}
        <div class="error-message">{{ cell.message }}</div>
        {% end %}
        <input type="text" name="{{ cell.field.id + "_" + str(i_row) }}"
                size="{{ cell.field.width }}" value="{{ cell.value }}">
      </td>
      {% end %}
    </tr>
    {% end %}
    <tr>
      <td class="input">
        <button type="submit" class="btn btn-primary btn-xs"
           name="add-sample" value="add-sample">
          <span class="glyphicon glyphicon-plus"></span>
          </button>
      </td>
      {% for col in columns %}
      <td class="input">
      </td>
      {% end %}
    </tr>
  </table>
  {% if table %}
  <input type="hidden" name="n_rows" value="{{ i_row+1 }}">
  {% else %}
  <input type="hidden" name="n_rows" value="0">
  {% end %}
  </div>
  <button name="save" value="save" type="submit"  class="btn btn-success">
    <span class="glyphicon glyphicon-save"></span>
    Save
  </button>
  <button name="clear" value="clear" type="submit"  class="btn btn-success">
    <span class="glyphicon glyphicon-save"></span>
    Clear
  </button>
  </form>
  </div>
</div>
{% end %} {# block main_content #}
