{# Sample table page. #}

{% block head_title %}Samples for order '{{ order['title'] }}'{% end %}
{% block body_title %}Samples for order: {{ order['title'] }}{% end %}

{% extends "base.html" %}

{% block body_header_meta %}
<a href="{{ reverse_url('order_api', order['_id']) }}">
  {% module Icon('json') %} JSON
</a>
{% end %}

{% block meta_content %}

<p>
  <form action="{{ reverse_url('order', order['_id']) }}"
	role="form"	method="GET">
    <input type="hidden" name="_http_method" value="delete">
    <button type="submit" class="btn btn-danger btn-block">
      <span class="glyphicon glyphicon-trash"></span>
      Cancel
    </button>
  </form>
</p>

<br>
<br>

<p>
  {% if valid %}
  <form action="{{ reverse_url('order_transition', order['_id'], target['identifier']) }}"
	role="form"
	method="POST">
    {% module xsrf_form_html() %}
    <p>
      <button type="submit" class="btn btn-lg btn-success btn-block">
        <span class="glyphicon glyphicon-trash"></span>
        Save
      </button>
    </p>
  </form>
  {% else %}
  <div class="well well-lg text-danger">
    Upload a valid sample table to save.
  </div>
  {% end %} {# if targets #}
</p>
{% end %} {# block meta_content #}

{% block main_content %}
<div class="panel panel-default">
  <div class="panel-body">

  <p>To enter sample information:
    <ul>
      <li>Download the
    <a href="https://portal.sequencing.uio.no/file/Sample%20table/download">sample table template</a></li>
    <li>Fill in information about your samples and save it</li>
    <li>Upload it in the form below</li>
    <li>Verify the output and click Save on the right</li>
  </ul>
  </p>


  {% if valid %}
  <p>
    Please confirm that the sample information has been imported correctly, by inspecting the table below.
    If there is an error, contact us at <a href="mailto:post@sequencing.uio.no">post@sequencing.uio.no</a>.
  </p>
  {% else %}
  <p>
  </p>

  <form action="{{ reverse_url('order_attach', order['_id']) }}"
        role="form"
        enctype="multipart/form-data"
        method="POST">
    {% module xsrf_form_html() %}
    <div class="form-group">
      <label for="file">Sample table (Spreadsheet)</label>
      <input type="file" name="file" class="form-control">
      <span class="help-block">
        The sample table to upload.
      </span>
    </div>

    <div class="form-group">
      <label class="control-label"></label>
      <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-floppy-disk"></span>
        Upload
      </button>
    </div>
  </form>

  <h3>Sample information</h3>
  {% if table %}
  <table>
    <tr><td>Test</td></tr>
  </table>
  {% else %}
    <ul>
    {% for message in messages %}
    <li>Test</li>
    {% end %}
    </ul>
  {% end %}

  {% end %}
  </div>
</div>



{% end %} {# block main_content #}
